* {
  all: unset;
}

* {
  font-family: InconsolataGo Nerd Font;
  font-size: 14px;
  color: white;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  background: alpha(black, 0.95);
  padding: 20px;
  border: 1px solid #21e469;
}

.search-container {
  background: black;
  padding: 10px;
}

.input placeholder {
  opacity: 0.5;
}


.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

child:selected {
  background-color: #191919;
}

child:selected .item-text-box * {
  color: #21e469;
}

.item-box {
  padding-left: 14px;
  padding-right: 14px;
}

.item-text-box {
  all: unset;
  padding: 14px 0;
}


.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 14px;
  -gtk-icon-transform: scale(0.9);
}

.current {
  font-style: italic;
}

.keybind-hints {
  background: white;
  padding: 10px;
  margin-top: 10px;
}
