# Ignores everything
*

# Don't ignore these
!/.bashrc_example
!/.config/

!/.config/nvim/
!/.config/nvim/**

!/.config/tmux/
!/.config/tmux/**

!/.config/alacritty/
!/.config/alacritty/**

!/.config/hypr/
!/.config/hypr/**

!/.config/walker/
!/.config/walker/config.toml

!/.config/waybar/
!/.config/waybar/**

# Re-ignore these
/.config/tmux/plugins/**
/.config/nvim/lazy-lock.json

# Don't re-ignore these
!/.config/tmux/plugins/tpm/
!/.config/tmux/plugins/tpm/**
