[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "omarchy/themes/terminus"]
	path = omarchy/themes/terminus
	url = https://github.com/r-bart/omarchy-terminus-theme
