# Ignores everything
*

# Don't ignore these
!/.bashrc_examplej
!/.config/
!/.config/nvim/
!/.config/tmux/
!/.config/alacritty/
!/.config/nvim/**
!/.config/tmux/**
!/.config/alacritty/**
!/init.sh

# Re-ignore these
/.config/tmux/plugins/**
/.config/nvim/lazy-lock.json

# Don't re-ignore these
!/.config/tmux/plugins/tpm/
!/.config/tmux/plugins/tpm/**
