* {
  font-family: InconsolataGo Nerd Font;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

#waybar {
  color: #eeeeee;
  background-color: #000000;
}

#workspaces button {
  color: #eeeeee;
  padding-left: 0.7em;
}

#workspaces button.empty {
  color: #aaaaaa;
}

#memory,
#custom-platform-profile {
  padding-left: 1em
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#tray {
  padding-right: 1em
}
