* {
  --background-color: #282828;
  --background-selected-color: #32302f;
  --primary-color: #8ec07c;
  --text-color: #a89984;
  --text-selected-color: #8bba7f;

  all: unset;
  font-family: InconsolataGo Nerd Font;
  font-size: 14px;
  color: var(--text-color);
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  background: alpha(var(--background-color), 0.95);
  padding: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
}

.search-container {
  background: var(--background-color);
  padding: 10px;
}

.input placeholder {
  opacity: 0.5;
}


.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

child:selected {
  background-color: var(--background-selected-color);
  border-radius: 10px;
}

child:selected .item-text-box * {
  color: var(--text-selected-color);
}

.item-box {
  padding-left: 14px;
  padding-right: 14px;
}

.item-text-box {
  all: unset;
  padding: 14px 0;
}


.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 14px;
  -gtk-icon-transform: scale(0.9);
}

.current {
  font-style: italic;
}

.keybind-hints {
  background: var(--text-color);
  padding: 10px;
  margin-top: 10px;
}
