[Desktop Entry]
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
Version=1.0
Encoding=UTF-8
Name=Alacritty
Comment=A fast, cross-platform, OpenGL terminal emulator
Icon=Alacritty
X-XFCE-Commands=alacritty;
X-XFCE-CommandsWithParameter=alacritty -e %s;
X-XFCE-TerminalArgs=-e;
StartupNotify=true
